<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>889841388445-qe3iquc02n3ig862pn5nsvirgj8b0j5j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.889841388445-qe3iquc02n3ig862pn5nsvirgj8b0j5j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>889841388445-up9kdlcvvlh7gfn2e8vd42tpvssbs50f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBYRcO3WTvSbNLhK4nCqlJI1o-0coavH6k</string>
	<key>GCM_SENDER_ID</key>
	<string>889841388445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rewardflightfinder.app.ios</string>
	<key>PROJECT_ID</key>
	<string>rewardflightfinder-63b96</string>
	<key>STORAGE_BUCKET</key>
	<string>rewardflightfinder-63b96.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:889841388445:ios:a30f33958d2cd14a7dfd74</string>
</dict>
</plist>